CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=y
CONFIG_GENERIC_IRQ_IPI=y
CONFIG_ARCH_HAS_TICK_BROADCAST=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_CONTEXT_TRACKING_IDLE=y
# CONFIG_NO_HZ_FULL is not set
CONFIG_CPU_ISOLATION=y

CONFIG_TREE_RCU=y
CONFIG_TREE_SRCU=y
CONFIG_NEED_SRCU_NMI_SAFE=y
CONFIG_RCU_STALL_COMMON=y
CONFIG_LOG_CPU_MAX_BUF_SHIFT=12
CONFIG_SCHED_MM_CID=y
# CONFIG_CPUSETS is not set
CONFIG_SWP_EMULATE=y
# CONFIG_CPU_ICACHE_MISMATCH_WORKAROUND is not set
CONFIG_ARM_ERRATA_643719=y
# CONFIG_ARM_ERRATA_754327 is not set
# CONFIG_ARM_ERRATA_764369 is not set
# CONFIG_ARM_ERRATA_798181 is not set
CONFIG_SMP=y
CONFIG_SMP_ON_UP=y
CONFIG_ARM_CPU_TOPOLOGY=y
# CONFIG_SCHED_MC is not set
# CONFIG_SCHED_SMT is not set
# CONFIG_MCPM is not set
# CONFIG_BIG_LITTLE is not set
CONFIG_NR_CPUS=4
# CONFIG_HOTPLUG_CPU is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL is not set
# CONFIG_CPU_FREQ_GOV_SCHEDUTIL is not set
# CONFIG_ENERGY_MODEL is not set
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_SLUB_CPU_PARTIAL=y
CONFIG_SPLIT_PTE_PTLOCKS=y
CONFIG_PER_VMA_LOCK=y
CONFIG_PCPU_DEV_REFCNT=y
CONFIG_RPS=y
CONFIG_RFS_ACCEL=y
CONFIG_SOCK_RX_QUEUE_MAPPING=y
CONFIG_XPS=y
CONFIG_NET_FLOW_LIMIT=y
CONFIG_GENERIC_ARCH_TOPOLOGY=y
# CONFIG_CRYPTO_PCRYPT is not set
CONFIG_CPU_RMAP=y
# CONFIG_PER_VMA_LOCK_STATS is not set
# CONFIG_DEBUG_PER_CPU_MAPS is not set
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=y
# CONFIG_HARDLOCKUP_DETECTOR is not set
CONFIG_RCU_CPU_STALL_TIMEOUT=21
CONFIG_RCU_EXP_CPU_STALL_TIMEOUT=0
# CONFIG_RCU_CPU_STALL_CPUTIME is not set